{% extends "base.html" %}
{% load static %}

{% block title %}Sagaz - Home{% endblock %}

{% block content %}
	<div id="aboutMe">
		<div class="jumbotron text-center">
			<div class="col-12 narrow text-center">
				<h3 class="heading">About Me</h3>
				<div class="heading-underline"></div>
			</div>
			<p class="text-justify">
				My name is Muhammad Ryan Anshar Haryanto. I am an Information System College Student and hopefully a Future Web Developer. I love to learn a lot of new things as it's unfold a new chapter of my life tomorrow and beyond.
			</p>
			<p class="text-justify">
				I have a clear, logical mind with a practical approach to problem-solving and a looking forward to see things through to utmost completion. I am ready to be challenged in order to grow and further improve my skills and using it to benefit other people.
			</p>
		</div>
	</div>
{% endblock %}