{% extends "base.html" %}
{% load static %}

{% block title %}Sagaz - Home{% endblock %}

{% block content %}

	<div id="addSchedule">
		<div class="col-12 narrow text-center">
				<h3 class="heading">Schedule Form</h3>
				<div class="heading-underline"></div>
			</div>

			<div class="kegiatan col-12 narrow text-justify">
				<form method="POST">
					{% csrf_token %}
					<table>
						<td>
							{{ form }}
						</td>
						<td>
							<button type="submit" class="btn btn-outline-primary float-right">Add Schedule</button>
						</td>
					</table>

				</form>
			</div>
				
	</div>
{% endblock %}