{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">

    <!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.css'%}">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>

	<title>{% block title %}Sagaz - Personal Website Portofolio{% endblock %}</title>
</head>
<body data-spy="scroll" data-target="#navbarToggle">
	<!--- Navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

		<!-- Navbar Logo -->
		<a class="navbar-brand" href="#"><img src="{% static 'assets/img/Slogo.png'%}"></a>

		<!-- Menu Toggle -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>

		<div class="menuContent navbar-collapse " id="navbarToggle">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/home/#home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/home/#aboutMe">About Me</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/skills/#skills">Skills</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/skills/#gallery">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/schedule">Activity</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#findMe">Find Me</a>
				</li>
			</ul>
		</div>
	</nav>

	<!--- Starter Section -->
	<div class="starter">
		<div class="starter-layout">
			<div class="starter-bg">
			</div>
		</div>
	</div>

	<div class="caption text-center">
		<h1>Welcome to Ryan's</h1>
		<h3>Personal Website</h3>

		<!-- Down Toggle -->

			<a class="downToggle text-center" href="#content">
				<i class="fas fa-chevron-circle-down"></i>
			</a>
	</div>

	<div id="content">
		{% block content %}
			<div id="home">
				<div class="col-12 narrow text-center">
					<img src="{% static 'assets/img/Vektor.png'%}" alt="Self Vektor">
					<h1>Hi, I'm Ryan Anshar -</h1>
					<h3>Life is wonderful when you can forgive and forget</h3>
				</div>
			</div>

			<div id="aboutMe">
				<div class="jumbotron text-center">
					<div class="col-12 narrow text-center">
						<h3 class="heading">About Me</h3>
						<div class="heading-underline"></div>
					</div>
					<p class="text-justify">
						My name is Muhammad Ryan Anshar Haryanto. I am an Information System College Student and hopefully a Future Web Developer. I love to learn a lot of new things as it's unfold a new chapter of my life tomorrow and beyond.
					</p>
					<p class="text-justify">
						I have a clear, logical mind with a practical approach to problem-solving and a looking forward to see things through to utmost completion. I am ready to be challenged in order to grow and further improve my skills and using it to benefit other people.
					</p>
				</div>
			</div>
			
    	{% endblock %}
	</div>
	
	<!--- Find Me Section -->

	<div id="findMe">
		<footer>
			<div class="row contact justify-content-center">
				<div class="col-md-5 text-center">
					<h3 class="heading">Find Me</h3>
					<div class="heading-underline"></div>

					<p>
						Perform analysis to design the system architecture and database design. Implement web pages from scratch with JavaScript / HTML / CSS. The design will be provided in Photoshop / Illustrator component.
					</p>
					<strong>Contact Info</strong>
					<p>+62 85778164449<br>ryananshar34@gmail.com</p>

					<li><a href="https://www.instagram.com/ryananshar/" target="_blank"><i class="fab fa-instagram"></i></a></li>
					<li><a href="http://line.me/ti/p/~ryananshar" target="_blank"><i class="fab fa-line"></i></a></li>
					<li><a href="https://api.whatsapp.com/send?phone=6285778164449" target="_blank"><i class="fab fa-whatsapp-square"></i></a></li>
					
				</div>
					
			</div>
		</footer>
	</div>
</body>
</html>