{% extends "base.html" %}
{% load static %}

{% block title %}Sagaz - Home{% endblock %}

{% block content %}
	<div id="gallery">
		<div class="row light justify-content-center text-center">
			<div class="col-12 narrow text-center">
				<h3 class="heading">Gallery</h3>
				<div class="heading-underline"></div>
			</div>

			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/ride.jpg'%}" alt="">
				</div>
			</div>

			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/bid.jpg'%}" alt="">
				</div>
			</div>

			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/bem.jpg'%}" alt="">
				</div>
			</div>
		</div>

		<div class="row light justify-content-center text-center">
			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/self.jpg'%}" alt="">
				</div>
			</div>

			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/kelas.jpg'%}" alt="">
				</div>
			</div>

			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/helm.jpg'%}" alt="">
				</div>
			</div>
		</div>
	</div>
{% endblock %}