{% extends "base.html" %}
{% load static %}

{% block title %}Sagaz - Home{% endblock %}

{% block content %}
	<div class="formbg" style="margin-top:3vw">
	  <form method='POST'>
	    {% csrf_token %}
	    <div class="formField">
	      {{ form }}
	    </div>

	    <button type="submit" class="btn btn-danger">Tambah Kegiatan</button>
	  </form>
	</div>

	<div class="list-kegiatan">
	  {% for kegiatan in objects %}
	  <div class="kegiatan" style="margin-top:2vw ">
	  	<h3> Kategori: {{ kegiatan.category }}<h3>
	  	<h3> Nama: {{ kegiatan.event }}<h3>
	    <!-- <h3> Hari: {{ kegiatan.hari }}<h3>
	    <h3> Tanggal:{{ kegiatan.tanggal }}<h3>
	    <h3> Jam : {{ kegiatan.jam }}<h3>
	    <h3> Tempat: {{ kegiatan.tempat }}<h3> -->
	    <form method="post">
	      {% csrf_token %}
	      <input type="text" name="id" value="{{ kegiatan.pk }}" style="display:none">
	      <button type="submit" name="button"> delete</button>
	    </form>
	  </div>
	  {% endfor %}

	</div>
{% endblock %}