{% extends "base.html" %}
{% load static %}

{% block content %}
	<!--- Starter Section -->
	<div class="starter">
		<div class="starter-layout">
			<div class="starter-bg">
			</div>
		</div>
	</div>

	<div class="caption text-center">
		<h1>Welcome to Ryan's</h1>
		<h3>Personal Website</h3>

		<!-- Down Toggle -->

			<a class="downToggle text-center" href="#home">
				<i class="fas fa-chevron-circle-down"></i>
			</a>
	</div>
{% endblock %}