{% extends "base.html" %}
{% load static %}

{% block title %}Sagaz - Skills{% endblock %}

{% block content %}
	<div id="skills">
		<div class="fixed-background">

			<div class="row blue justify-content-center text-center">
				<div class="col-12 narrow text-center">
					<h3 class="heading2">Skills</h3>
					<div class="heading-underline"></div>
				</div>

				<div class="col-md-4">
					<h3>PYTHON</h3>
					<div class="skill">
						<i class="fab fa-python"></i>
					</div>
				</div>

				<div class="col-md-4">
					<h3>JAVA</h3>
					<div class="skill">
						<i class="fab fa-java"></i>
					</div>
				</div>

				<div class="col-md-4">
					<h3>ILLUSTRATOR</h3>
					<div class="skill">
						<img src="{% static 'assets/img/illustrator.png'%}">
					</div>
				</div>
			</div>

			<div class="row blue justify-content-center text-center">
				<div class="col-md-4">
					<h3>HTML 5</h3>
					<div class="skill">
						<i class="fab fa-html5"></i>
					</div>
				</div>

				<div class="col-md-4">
					<h3>CSS 3</h3>
					<div class="skill">
						<i class="fab fa-css3-alt"></i>
					</div>
				</div>
			</div>
			<div class="fixed-wrap">
				<div class="fixed">
				</div>
			</div>
		</div>
	</div>

	<div id="gallery">
		<div class="row light justify-content-center text-center">
			<div class="col-12 narrow text-center">
				<h3 class="heading">Gallery</h3>
				<div class="heading-underline"></div>
			</div>

			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/ride.jpg'%}" alt="">
				</div>
			</div>

			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/bid.jpg'%}" alt="">
				</div>
			</div>

			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/bem.jpg'%}" alt="">
				</div>
			</div>
		</div>

		<div class="row light justify-content-center text-center">
			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/self.jpg'%}" alt="">
				</div>
			</div>

			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/kelas.jpg'%}" alt="">
				</div>
			</div>

			<div class="col-md-4">
				<div class="image">
					<img src="{% static 'assets/img/helm.jpg'%}" alt="">
				</div>
			</div>
		</div>
	</div>
{% endblock %}